.order-summary-container {
    display: grid;
    justify-content: center;
    align-items: center;
    
  }
  
  .order-summary-box {
    border: 1px solid black;
    padding: 20px;
    border-radius: 6px;
    margin-left: 100px;
    margin-top: 80px;
    
  }

  .button1{
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 7px 12px;
    border-radius: 9px;
    cursor: pointer;
    justify-content: center;
    margin-left: 40px;
    
  }